################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DotnetCorePractice/v17
/.vs
/DotCorePractice/.vs/DotCorePractice/v17
/MiddleWare/bin
/MiddleWare/obj
/MiddleWare/MiddleWare.csproj.user
